*.docx
*.xlsx
набросок.docx
текст.docx
Kursovaya_Rabota.docx
Spisok_PIN_II_KURSOVAYa.xlsx

[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
[Xx]64/
[Xx]86/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

*.log
*.tmp
*.cache

.DS_Store
Thumbs.db
